@font-face {
  font-family: 'Museo-500';
  src: url('Museo-500.eot');
  src: url('Museo-500.woff2') format('woff2'),
       url('Museo-500.woff') format('woff'),
       url('Museo-500.ttf') format('truetype'),
       url('Museo-500.svg#Museo-500') format('svg'),
       url('Museo-500.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

