/*
@font-face {
    font-family: 'Museo';
    src: url('../../assets/fonts/museo/museo100-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/museo/museo100-regular-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../../assets/fonts/museo/museo300-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/museo/museo300-regular-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../../assets/fonts/museo/museo500-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/museo/museo500-regular-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../../assets/fonts/museo/museo700-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/museo/museo700-regular-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../../assets/fonts/museo/museo900-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/museo/museo900-regular-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}*/

@font-face {
  font-family: 'Museo';
  src: url('../../assets/fonts/museo/100/Museo-100.eot');
  src: url('../../assets/fonts/museo/100/Museo-100.woff2') format('woff2'),
       url('../../assets/fonts/museo/100/Museo-100.woff') format('woff'),
       url('../../assets/fonts/museo/100/Museo-100.ttf') format('truetype'),
       url('../../assets/fonts/museo/100/Museo-100.svg#Museo-100') format('svg'),
       url('../../assets/fonts/museo/100/Museo-100.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Museo';
  src: url('../../assets/fonts/museo/300/Museo-300.eot');
  src: url('../../assets/fonts/museo/300/Museo-300.woff2') format('woff2'),
       url('../../assets/fonts/museo/300/Museo-300.woff') format('woff'),
       url('../../assets/fonts/museo/300/Museo-300.ttf') format('truetype'),
       url('../../assets/fonts/museo/300/Museo-300.svg#Museo-100') format('svg'),
       url('../../assets/fonts/museo/300/Museo-300.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo';
  src: url('../../assets/fonts/museo/500/Museo-500.eot');
  src: url('../../assets/fonts/museo/500/Museo-500.woff2') format('woff2'),
       url('../../assets/fonts/museo/500/Museo-500.woff') format('woff'),
       url('../../assets/fonts/museo/500/Museo-500.ttf') format('truetype'),
       url('../../assets/fonts/museo/500/Museo-500.svg#Museo-100') format('svg'),
       url('../../assets/fonts/museo/500/Museo-500.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo';
  src: url('../../assets/fonts/museo/700/Museo-700.eot');
  src: url('../../assets/fonts/museo/700/Museo-700.woff2') format('woff2'),
       url('../../assets/fonts/museo/700/Museo-700.woff') format('woff'),
       url('../../assets/fonts/museo/700/Museo-700.ttf') format('truetype'),
       url('../../assets/fonts/museo/700/Museo-700.svg#Museo-100') format('svg'),
       url('../../assets/fonts/museo/700/Museo-700.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo';
  src: url('../../assets/fonts/museo/900/Museo-900.eot');
  src: url('../../assets/fonts/museo/900/Museo-900.woff2') format('woff2'),
       url('../../assets/fonts/museo/900/Museo-900.woff') format('woff'),
       url('../../assets/fonts/museo/900/Museo-900.ttf') format('truetype'),
       url('../../assets/fonts/museo/900/Museo-900.svg#Museo-100') format('svg'),
       url('../../assets/fonts/museo/900/Museo-900.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}