body {
	overflow-x: hidden;
	&, navbar {
		min-width: 320px;
	}
	
	&.inner {
		main {
			padding-top: 140px;
			@media (max-width: @screen-xs-max) {
				padding-top:60px;
			}
		}
		h1 {
			font-size: 50px;
			span {
				
			}
		}
		&.contacts, &.about {
			main {
				padding-bottom: 0;
				&:after {
					display: none;
				}
			}
		}
	}
}

.page-title {
	span {
		display: block;
		font-size: 15px;
		line-height: 1.3em;
		font-weight: 400;
		opacity: .45;
		margin-top: 5px;
		letter-spacing: 0;
		margin-bottom: 40px;
		font-family: @font-1;
	}
}

.section {
	margin-bottom: 40px;
	margin-top: 40px;
	&.bottom {
		margin-bottom: 0;
		
		height: 300px;
		#map {
			height: 300px;
		}
	}
	&.grey {
		background-color: #f3f3f3;
		height: inherit;
		padding-bottom: 30px;
	}
}

.m {
	&-t {
		&-10 {
			margin-top: 10px;
		}
	}
	&-b {
		&-0 {
			margin-bottom: 0;
		}
		&-5 {
			margin-bottom: 5px;
		}
	}
}

.btn {
	&-wide {
		width: 100%;
	}
	border-width: 2px;
	
	&-add {
		color: @brand-primary;
		background-color: #fff;
		font-weight: 700;
		white-space: normal;
		&.btn-danger {
			color: @brand-danger;
		}
		&.btn-lg {
			font-size: 20px;
			padding: 7px 15px 9px 15px;
		}
		&.btn-sm {
			min-width: 70px;
			i {
				font-size: 16px;
				vertical-align: middle;
				margin-right: 5px;
			}
		}
		i {
			float: left;
		}
	}
	
	i {
		&.material-icons {
			vertical-align: middle;
		}
		
	}
}

hr {
	border-top: 1px solid #d4d4d4;
}

.cookie {
	background-color: rgba(100, 100, 100, 0.8);
	color: #fff;
	font-weight: 300;
	padding: 10px 0;
	z-index: 999;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	
	.btn {
		margin: 5px auto;
		background-color: transparent;
		border-color: #fff;
	}
	
	@media (min-width: @screen-md) {
		.row {
			display: table;
			width: 100%;
			> div {
				display: table-cell;
				vertical-align: middle;
				float: none;
			}
		}
	}
}

.navbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	margin-bottom: 0;
	border-radius: 0;
	border:none;
	//margin-bottom: -(@navbar-height+2);
	
	@media (max-width: @screen-xs-max) {
		//box-shadow: 0px 0px 25px 0px rgba(255,255,255,0.5);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		background-color: #f9f9f9!important;
		min-height: @navbar-height-mobile!important;
		background-color: rgba(255, 255, 255, 0.95);
	}
	
	&-header {
		width: 100%;
		margin: 0!important;
	}
	
	&-brand {
		width: 100%;
		padding: 0;
		margin-left: 0!important;
		
		.logo {
			margin: 0 auto -10px auto;
			display: table;
			li {
				transition: all .3s ease-in-out;
				a {
					display: block;
					padding: 15px 20px 15px 20px;
					transition: all .3s ease-in-out;
					
					img {
						width: auto;
						height: 60px;
						transition: all .3s ease-in-out;
					}
					
				}
				
				&.active {
					background-color: #404040;
					border-radius: 0 0 10px 10px;
					a {
						padding: 0 20px 20px 20px;
						img {
							width: auto;
							height: 90px;
						}
					}
				}
			}
		}
		.navbar-nav {
			position: absolute;
			right: 20px;
			top: 0;
			> li {
				> a {
					color: #fff!important;
				}
			}
		}
		.dropdown-menu {
			right: 0;
    	left: auto;
			min-width: auto;
			margin-top: -30px!important;
		}
	}
	@media (min-width: @screen-sm) {
		&-collapse.collapse {
			display: none!important;
		}
	}
	@media (max-width: @screen-xs-max) {
		min-height: @navbar-height-mobile;
		&-brand {
			height: @navbar-height-mobile;
			.logo {
				li {
					display: none;
					&.active {
						display: inline-block;
						box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.2);
						a {
							display: block;
							padding: 0 10px 10px 10px;
							img {
								height: 60px;
							}
						}
					}
				}
			}
			.navbar-nav {
				display: none;
			}
		}
		&-toggle {
			position: absolute;
			right: 10px;
			top: 6px;
			margin: 0;
			border: none;
			background: transparent !important;
			&:hover {
				background: transparent !important;
			}
			.icon-bar {
				width: 25px;
				height: 3px;
				margin: 5px 0;
				transition: all 0.2s;
				&:nth-of-type(1) {
					transform: rotate(45deg);
					transform-origin: 0% 10%;
				}
				&:nth-of-type(2) {
					opacity: 0;
					filter: alpha(opacity=0);
				}
				&:nth-of-type(3) {
					transform: rotate(-45deg);
					transform-origin: 5% 90%;
				}
			}
			&.collapsed {
				.icon-bar {
					&:nth-of-type(1) {
						transform: rotate(0);
					}
					&:nth-of-type(2) {
						opacity: 1;
						filter: alpha(opacity=100);
					}
					&:nth-of-type(3) {
						transform: rotate(0);
					}
				}
			}
		}		
		&-collapse {
			background-color: #e3e3e3;
			border-top: none;
			&.collapse {
				 transition: all 0.2s ease;
				&.in {
					max-height: none;
					height: 100vh;
				}
			}
			&.collapsing {
				height: 0 !important;
				margin-top: 10px;
			}
		}
		
		.nav {
			> li {
				> a {
					padding-top: 15px;
					padding-bottom: 15px;
					line-height: 20px;
					font-size: 18px;
					text-align: center;
					font-weight: 600;
					img {
						height: 50px;
					}
				}
				&.active {
					> a {
						color: @brand-primary;
					}
				}
			}
		}
		
		.navbar-logo {
			> li {
				> a{
					padding-top: 10px;
					padding-bottom: 10px;
				}
				&.active {
					display: none;
				}
			}
		}
	}
}

header {
	position: relative;
	min-height: 300px;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: table;
	vertical-align: middle;
	
	.container {
		position: relative;
		padding-top: @navbar-height;
		padding-bottom: 230px;
		display: table-cell;
		vertical-align: middle;
	}
	
	h1, h4 {
		color: #fff;
		text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
		b {
			color: @brand-success;
		}
	}
	
	h1 {
		@media (max-width: @screen-sm-max) {
			font-size: 50px;
		}
	}
	
	h4 {
		font-family: @font-1;
		font-weight: 300;
		@media (max-width: @screen-sm-max) {
			font-size: 26px;
		}
	}
	
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, rgba(55,55,55,0.8) 0%,rgba(55,55,55,0.8) 30%,rgba(55,55,55,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		z-index: 0;
	}
	
	.video {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

.filter {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	@media (max-width: @screen-xs-max) {
		padding: 15px;
		background-color: #fff;
		&.sticky {
			position: fixed;
			top: 60px;
			left: 0;
			right: 0;
			z-index: 4;
			bottom: inherit;
		}
	}

	ul {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
		display: table;

		li {
			display:table-cell;
			a {
				text-decoration: none;
				display: block;
				padding: 10px 4px 0 4px;
				
				img {
					border: 10px solid rgba(255,255,255,0.5);
					filter: grayscale(100%);
					transition: all .2s ease-in-out;
				}
				span {
					font-size: 16px;
					font-weight: 700;
					color: rgba(255,255,255,0.5);
					text-align: center;
					display: block;
					padding: 10px 0 30px 0;
					text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
					transition: all .2s ease-in-out;
					position: relative;
					
					@media (max-width: @screen-sm-max) {
						font-size: 14px;
					}
					
					&:after {
						content: "";
						display: block;
						width: 0; 
						height: 0; 
						border-left: 20px solid transparent;
						border-right: 20px solid transparent;
						border-bottom: 20px solid transparent;
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						margin: 0 auto;
					}
				}
			}
			&:hover, &:focus {
				a {
					img {
						border-color: rgba(255,255,255,0.8); 
					}
					span {
						color: #fff;
						&:after {
							border-bottom-color: fade(#fff, 30%);
						}
					}
				}

			}
			&.active {
				a {
					img {
						filter: grayscale(0%);
						border: 10px solid @brand-success; 
					}
					span {
						color: #fff;
						&:after {
							border-bottom-color: @brand-success;
						}
					}
				}
			}
		}
	}
	@media (max-width: @screen-xs-max) {
		.btn {
			font-size: 18px;
			font-weight: 600;
			img {
				margin-right: 8px;
				width: 36px;
				height: 36px;
			}
		}
		ul {
			display: none;
			li {
				display: block;
				a {
					padding: 5px 15px;
					img {
						border: none;
						margin-right: 8px;
						width: 36px;
						height: 36px;
					}
				}
				&.active {
					display: none;
					a {
						img {
							border: none;
						}
					}
				}
			}
		}
	}
}

main {
	padding: 60px 0;
	background-color: #e3e3e3;
	position: relative;
	overflow: hidden;
	
	&:before {
		content: "";
		display: block;
		height: 160px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-image: url('../img/main_bg_top.png');
		background-repeat: no-repeat;
		background-position: top center;
		z-index: 0;
	}
	
	&:after {
		content: "";
		display: block;
		height: 140px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: url('../img/main_bg_bottom.png');
		background-repeat: no-repeat;
		background-position: bottom center;
		z-index: 0;
	}
	
	.container {
		position: relative;
		z-index: 2;
		max-width: 1000px;
	}
	
	.tab-content {
		.tab-pane {
			margin-top: -130px;
			padding-top: 130px;
			@media (max-width: @screen-xs-max) {
				margin-top: -170px;
				padding-top: 170px;
			}
		}
	}
	
	.ititle {
		margin-bottom: 40px;
		@media (max-width: @screen-xs-max) {
			text-align: center;
			.text-right {
				text-align: center;
			}
		}
	}
	
	h2 {
		font-weight: 700;
		margin: 0;
	}
	
	h5 {
		font-weight: 900;
		color: @brand-primary;
		margin-top: 40px;
	}
	
	.location {
		font-size: 20px;
		color: #9d9d9d;
		font-family: @font-2;
		font-weight: 700;
	}
	
	.info {
		display: block;
		font-size: 15px;
		color: #9d9d9d;
		font-weight: 500;
		font-family: @font-2;
		@media (max-width: @screen-xs-max) {
			margin-top: 20px;
		}
	}
	
	.tel {
		display: block;
		font-size: 34px;
		color: #666666;
		font-weight: 900;
		font-family: @font-2;
		line-height: 34px;
	}
	
	.hours {
		display: block;
		font-size: 13px;
		color: #888888;
		font-weight: 500;
		font-family: @font-2;
	}
	
	.ioffer {
		
	}
}

.card {
	box-shadow: 10px 10px 20px 0px rgba(37, 8, 4, 0.13);
	background-color: #fff;
	border-radius: 10px;
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
	
	&:before {
		content: "";
		display: block;
		padding-top: 100%;
	}
	
	.btn {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	> div {
		position: absolute;
		top: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
  	flex-direction: column;
		overflow: hidden;
	}
	
	&-img {
		background-color: #ccc;
		left: 0;
		background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
	}
	
	&-body {
		right: 0;
		small {
			color: #bebebe;
			font-size: 14px;
			font-weight: bold;
			margin-top: 6px;
		}
		a {
			font-weight: 700;
			color: @brand-primary;
			margin-bottom: 0;
			text-decoration: none!important;
			
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;

			@media (max-width: @screen-sm-max) {
				-webkit-line-clamp: 3;
			}
		}
		.price {
			color: #545c4f;
			font-size: 34px;
			font-weight: 900!important;
			font-family: @font-2;
			line-height: 70px;
			b {
				font-size: 70px;
				font-weight: 900!important;
				vertical-align: text-top;
			}
			span {
				vertical-align: top;
			}
		}
	}
	
	&.small {
		&:before {
			padding-top: 47.8%;
		}
		
		.btn {
			margin-top: 15px;
		}
		
		.card-img {
			background-size: 150%;
		}
		.card-body {
			a {
				font-size: 25px;
				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;

				@media (max-width: @screen-sm-max) {
					-webkit-line-clamp: 3;
				}
			}
		}
		
		&.two {
			.card-img {
				background-position: right;
				left: auto;
				right: 0;
			}
			.card-body {
				left: 0;
				right: auto;
			}
		}
	}
	@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
		&:before {
			padding-top: 40%;
		}
		
		&-img {
			background-size: 150%;
		}
		&-body {
			a {
				font-size: 38px!important;
			}
		}
		&.small {
			&:before {
				padding-top: 40%;
			}
			.card-img {
				background-position: right;
				left: auto;
				right: 0;
			}
			.card-body {
				left: 0;
				right: auto;
			}
			&.two {
				.card-img {
					left: 0;
					right: auto;
					background-position: left;
				}
				.card-body {
					left: auto;
					right: 0;
				}
			}
		}
	}
	@media (max-width: @screen-xs-max) {
		&:before {
			display: none;
		}
		> div {
			position: relative;
		}
		
		&-img {
			height: 140px;
			background-position: center center!important;
			background-size: cover!important;
		}
		
		&-body {
			a {
				font-size: 28px!important;
			}
		}
	}
}

.biger-spacing {
	margin: 0 -40px;
	> div {
		padding: 0 40px;
	}
}

.imeniu {
	width: 100%;
	li {
		line-height: 30px;
		margin-bottom: 4px;
		color: #303030;
		background-image: url('../img/border.png');
		background-repeat: repeat-x;
		background-position: bottom;
		padding-right: 80px;
		
		span {
			float: right;
			font-size: 16px;
			color: #545c4f;
			font-family: @font-2;
			font-weight: 900;
			margin-right: -80px;
		}
		
	}
}

.basket {
	position: fixed;
	bottom: 30px;
	right: 15px;
	z-index: 1000;
	border:2px solid @brand-primary;
	background-color: #fff;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	padding: 17px 13px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.2);
	.badge {
		position: absolute;
		top: -4px;
		right: -4px;
		padding: 5px 8px;
		font-size: 16px;
		border-radius: 50%;
		background-color: #FF9800;
	}
}

.modal {
	&-header {
		h4 {
			text-align: center;
			font-size: 24px;
		}
	}
	.close {
		font-size: 42px;
		margin-top: -6px;
	}
	&-dialog {
		@media (max-width: @screen-xs-max) {
			margin: 0;
			.modal-content {
				border-radius: 0;
			}
		}
	}
	
	hr {
		&.small {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
}

hr {
	border-top: 1px solid #e5e5e5;
}

.parsley-errors-list  {
	list-style: none;
	padding: 0;
	> li {
		color: @brand-danger;
	}
}

.text-overflow {
	display: block;
	.text-overflow()
}

.bank {
	margin-bottom: 20px;
	&.active {
		img {
			background-color: @brand-primary;
		}
	}
}


.media {
	&-left {
		padding-right: 20px;
	}
	&-heading {
		font-weight: 700;
		font-size: 32px;
		color: @brand-primary;
		margin-bottom: 0;
		&.small {
			font-size: 28px;
		}
	}
	&-body {
		label {
			text-decoration: none;
			cursor: pointer;
			img {
				border: 3px solid #d0d0d0;
			}
			b {
				padding-top: 5px;
				color: #9e9e9e;				
			}
			&:hover {
				img {
					border-color: #adacac;
				}
				b {
					color:#6b6b6b;
				} 
			}
			&.active {
				img {
					border-color: @brand-primary;
				}
				b {
					color: @brand-primary;
				}
			}
		}
		label {
			font-weight: normal;
			margin-bottom: 10px;
		}
	}
}



footer {
	background-color: #fff;
	padding: 40px 0;
	//font-family: @font-2;
	color: #545c4f;
	font-size: 15px;
	
	.container {
		max-width: 1000px;
	}
	
	ul { margin-top: 15px;
		li {
			a {
				color: #545c4f;
				margin-right: 30px;
				font-weight: 700;
			}
		}
	}
	@media (max-width: @screen-xs-max) {
		text-align: center;
		img {
			margin: 0 auto;
		}
		ul {
			margin-top: 30px;
			li {
				a {
					margin: 0 10px;
				}
			}
		}
	}
}


/* Large screen & Biger */

@media (min-width: @screen-lg) {
	//@import 'mq-lgnb.less';
}


/* Medium screen & Biger */

@media (min-width: @screen-md) {
	//@import 'mq-mdnb.less';
}


/* Small screen & Biger */

@media (min-width: @screen-sm) {
	//@import 'mq-smnb.less';
}


/* Extra small screen & Biger */

@media (min-width: @screen-xs) {
	//@import 'mq-xsnb.less';
}


/* Medium screen and smaller */

@media (max-width: @screen-md-max) {
	//@import 'mq-mdns.less';
}


/* Small screen and smaller */

@media (max-width: @screen-sm-max) {
	//@import 'mq-smns.less';
}


/* Extra small screen and smaller */

@media (max-width: @screen-xs-max) {
	//@import 'mq-xsns.less';	
}


/* smaller than Extra small screen */

@media (max-width: (@screen-xs - 1)) {
	//@import 'mq-stxs.less';
}


/* Only Medium screen */

@media (min-width: @screen-md) and (max-width: @screen-md-max) {
	//@import 'mq-only-md.less';
}


/* Only Small screen */

@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
	//@import 'mq-only-sm.less';
}


/* Only Extra small screen */

@media (min-width: @screen-xs) and (max-width: @screen-xs-max) {
	//@import 'mq-only-xs.less';
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.bounceIn {
  animation-duration: .75s;
}


@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}