@font-face {
  font-family: 'Museo-900';
  src: url('Museo-900.eot');
  src: url('Museo-900.woff2') format('woff2'),
       url('Museo-900.woff') format('woff'),
       url('Museo-900.ttf') format('truetype'),
       url('Museo-900.svg#Museo-900') format('svg'),
       url('Museo-900.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

