@font-face {
  font-family: 'Museo-100';
  src: url('Museo-100.eot');
  src: url('Museo-100.woff2') format('woff2'),
       url('Museo-100.woff') format('woff'),
       url('Museo-100.ttf') format('truetype'),
       url('Museo-100.svg#Museo-100') format('svg'),
       url('Museo-100.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

